/* struktūra pagal klases*/

.container {
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    display: inline-block;
    margin-bottom: 20px;
}

/*HEADER*/
.logo {
    float: left;
    height: 30px;
}
.main-menu {
    float: right;
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
}
.main-menu > .link {
    color: #000;
    text-decoration: none;
    margin-left: 30px;
}
.main-menu > .link:nth-child(1) {
    margin-left: 0;
}

/*MAIN*/
.left-column {
    width: 40%;
    margin-right: 0;
    float: left;
}
.main-title {
    font-size: 50px;
}
.main-title > span {
    font-weight:normal;
}
.description {

}
.button {
    display: inline-block;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #664499;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
}
.button.btn-white {
    background-color: #fff;
    color: #664499;
    border-color: #664499;
    border-width: 1px;
    border-bottom: 10px;
    border: solid
}
.right-column {
    float: right;
    width: 60%;
}

/*FOOTER*/
footer {}
.socials {
    display: inline-block;
    width: 75%;
}
.socials > .link {
    text-decoration: none;
    color: black;
}
.copyright {
    display: inline-block;
}
footer.container {
    margin-bottom: 0;
}


/*struktūra pagal elementus

/*HEADER
header > img {}
nav > a {}

/*MAIN
main > div {}
h1 {}
span {}
hr {}
div > p {}
main > div > a {}
img {}

/*FOOTER
footer > div {}
footer > div > a {}
footer >p {}
*/

/*
stylinti pagal html tag atsiradimo struktūrą
object-fit: contain - visas paveikslėlis matoams, cover apkerpa
object-position
.main-menu > link:nth-child(2) - antras (2n) - kas antras
su :nth-type reikia nurodyti ir tag'ą (visi šitie tinka su meniu punktais, o su mygtukais netinka)
line-height - svarbu naudoti, kad tvarkingai sulygiuoti dalykus
text-transform: uppercase, lower case ir pan.
border-radius 0-50%, px priklauso nuo font-size, border, margin, padding
max board radius in px = puse trumpiausios kraštinės = line aukštis, padding, boarder,
display: inline block sutvarko persidengiančius margin'us
pseudo selectors: hover, ...
*/