/* struktūra pagal klases*/

.container {
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    display: inline-block;
    margin-bottom: 40px;
}
footer.container {
    margin-bottom: 0;
}

/*HEADER*/
.logo {
    float: left;
    height: 30px;
    /* object-fit: contain; */
    /* object-position: top left; */
}
.main-menu {
    float: right;
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
}
.main-menu > .link {
    color: #000;
    text-decoration: none;
    margin-left: 30px;
}
.main-menu > .link:hover {
    text-decoration: underline;
    color: #664499;
}
.main-menu > .link:nth-child(1) {
    margin-left: 0;
}
.main-menu > .underline {
    text-decoration: underline;
    color: #664499;
}

/*MAIN*/
.left-column {
    width: 40%;
    float: left;
}
.main-title {
    font-size: 50px;
    width: 100%;
    display: inline-block;
}
.main-title > span {
    font-weight:normal;
}
.main-title > .line {
    display: block;
    height: 4px;
    width: 25%;
    background-color: #664499;
}
.description {
    display: inline-block;  
    width: 100%;
    font-size: 18px;
    margin-bottom: 50px;
}
.button {
    display: inline-block;
    padding: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #664499;
    color: #fff;
    font-size: 18px;
    line-height: 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1.5em;
    border: 0.2em solid #664499;
}
.button:hover {
    background-color: #fff;
    color: #664499;
}
.button.btn-white {
    background-color: #fff;
    color: #664499;
}
.btn-white:hover {
    background-color: #664499;
    color: #fff;
}
.right-column {
    float: right;
    width: 60%;
    margin-right: -30px;
}

/*FOOTER*/
.socials {
    float: left;
    margin-top: 10px;
}
.socials > .link {
    height: 2em;
    width: 2em;
    float: left;
    font-size: 18px;
    text-align: center;
    line-height: 2em;
    color: #ccc;
    text-decoration: none;
}
.socials > .link:hover {
    background-color: #664499;
    color: #fff;
    border-radius: 50%; /*tinka %, nes kvadratas*/
}
.copyright {
    float: right;
}



/*struktūra pagal elementus

/*HEADER
header > img {}
nav > a {}

/*MAIN
main > div {}
h1 {}
span {}
hr {}
div > p {}
main > div > a {}
img {}

/*FOOTER
footer > div {}
footer > div > a {}
footer >p {}
*/

/*
stylinti pagal html tag atsiradimo struktūrą
object-fit: contain - visas paveikslėlis matoams, cover apkerpa
object-position
.main-menu > link:nth-child(2) - antras (2n) - kas antras
su :nth-type reikia nurodyti ir tag'ą (visi šitie tinka su meniu punktais, o su mygtukais netinka)
line-height - svarbu naudoti, kad tvarkingai sulygiuoti dalykus
text-transform: uppercase, lower case ir pan.
border-radius 0-50%, px priklauso nuo font-size, border, padding
max board radius in px = puse trumpiausios kraštinės = line aukštis, padding, boarder,
display: inline block sutvarko persidengiančius margin'us
pseudo selectors: hover, ...
pseudo elements: ...
*/