/* struktūra pagal klases*/

.container {
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
}

/*HEADER*/
.logo {
    margin-top: 0.5%;
    float: left;
}
.main-menu {
    margin-top: 5%;
    margin-right: 2%;
    margin-left: 65%;
}
.main-menu > .link {
    margin-left: 6%;
    font-weight: bold;
    text-decoration: none;
}

/*MAIN*/
.left-column {}
.main-title {
    font-size: 50px;
    margin-top: 10%;
    margin-bottom: 0;
}
.main-title > span {
    font-weight:normal;
}
hr {
    margin-right: 86%;
    height: 2px;
    background-color: blueviolet;
}
.description {
    margin-top: 2%;
    width: 30%;
    margin-bottom: 6%;
    font-size: 13px;
}
.button {
    margin-left: 1%;
    background-color: blueviolet;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 24px;
    color: #fff;
    text-decoration: none;
}
.right-column {
    float: right;
    margin-top: -5%;
}

/*FOOTER*/
footer {}
.socials {
    display: inline-block;
    width: 75%;
}
.socials > .link {
    text-decoration: none;
    color: black;
}
.copyright {
    display: inline-block;
}


/*struktūra pagal elementus

/*HEADER
header > img {}
nav > a {}

/*MAIN
main > div {}
h1 {}
span {}
hr {}
div > p {}
main > div > a {}
img {}

/*FOOTER
footer > div {}
footer > div > a {}
footer >p {}
*/



/*
stylinti pagal html tag atsiradimo struktūrą

*/