body {
    background-color: blueviolet;
}
article {
    background-color: #fff;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    padding-bottom: 20px;
    padding-top: 15px;
    margin-top: 6%;
    border-radius: 3%;
}

header, main, footer {
    background-color: #fff;
    width: 800px;
    margin-left: calc((100% - 800px) / 2)
}
header > p, h2 {
    display: inline-block;
}
header > p {
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
h2 {
    width: 50%;
    margin-left: 5%;
}

h1 {
    padding-top: 40px;
    font-weight: normal;
    font-size: 55px;
    margin-bottom: 0;
}
h3 {
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 0;
}
hr {
    margin-right: 82%;
    margin-left: 5%;
    height: 2px;
    background-color: blueviolet;
}
img {
    float:right;
    margin-right: 40px;
}
h1, h3 {
    width: 50%;
    margin-left: 5%;
}
main > p {
    width: 50%;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 5px;  
    font-size: 14px;
}
div > p {
    margin-left: 5%;
    display: inline-block;
    background-color: blueviolet;
    width: 10%; 
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 20%;
}

footer > p {
    text-align: right;
    margin-right: 5%;
}