body {
    background-color: blueviolet;
}
div {
    background-color: #fff;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
/*margin-left: auto; margin-right: auto; galima ir taip*/
    padding-bottom: 20px;
    padding-top: 15px;
    margin-top: 6%;
    border-radius: 3%;
}
header p, h2, article p {
    display: inline-block;
}
header p {
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
h1 {
    padding-top: 40px;
    font-weight: normal;
    font-size: 55px;
    margin-bottom: 0;
}
h3 {
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 0;
}
img {
    float:right;
    margin-right: 40px;
}
h2, h1, hr, h3, main p {
    width: 50%;
    margin-left: 5%;
}
hr {
    width: 13%;
    height: 2px;
    background-color: blueviolet;
}
main > p {
    margin-top: 0;
    margin-bottom: 5px;  
    font-size: 14px;
}
article p {
    background-color: blueviolet;
    width: 10%; 
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 20%;
}
footer > p {
    text-align: right;
    margin-right: 5%;
}