header, main, footer {
    width: 800px;
    background-color: bisque;
    margin-left: calc((100% - 800px) / 2)
}
header > p, h2 {
    display: inline-block;
}
header > p {
    width: 10%;
    text-align: center;
    background-color: aqua;
}
header {
    background-color: blue;
   
}
h2 {
    background-color: red;
    width: 50%;
    margin-left: 5%;
}



main > h1, img {
    color: blueviolet;
}
h1 {
    background-color: aquamarine;
    padding-top: 60px;
}
img {
    float:right;
    margin-right: 40px;
}
h1, h3 {
    width: 50%;
    margin-left: 5%;
}
main p {
    width: 50%;
    margin-left: 5%;  
}
div {
    display: inline-block;
    background-color: aqua;
    width: 10%;
    margin: none
}




footer > p {
    background-color: aqua;
    text-align: right;
}